<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.talent_bank">
    <!-- 获取联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取读取SD卡\相机的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TalentBank.OthersBiographical"></activity>
        <activity android:name=".user_fragment.EditMyBiographical" />
        <activity android:name=".user_fragment.ChangeImageActivity" />
        <activity android:name=".PeopleDemand" />
        <activity android:name=".ProjectContentsApply" />
        <activity android:name=".EnterTalentBank.EnterTalentBankLast" />
        <activity android:name=".EnterTalentBank.EnterTalentBank" />
        <activity android:name=".TalentBank.TalentBank" />
        <activity android:name=".MyApplyNull" />
        <activity android:name=".ReceiveApply" />
        <activity android:name=".EditDemand" />
        <activity android:name=".EditPeopleDemand" />
        <activity android:name=".EditProjectNum" />
        <activity android:name=".ProjectContents" />
        <activity android:name=".user_fragment.SetUpActivity" />
        <activity android:name=".user_fragment.AdviceActivity" />
        <activity android:name=".ProjectReleased" />
        <activity android:name=".ProjectReleased2" />
        <activity android:name=".GuideActivity$ProjectReleased" />
        <activity android:name=".user_fragment.MyBiographicalActivity" />
        <activity android:name=".user_fragment.MyCollectionActivity" />
        <activity android:name=".user_fragment.MyApplyActivity" />
        <activity android:name=".user_fragment.MyPublishActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".register.RegisterLastActivity" />
        <activity android:name=".register.RegisterBasedActivity" />
        <activity android:name=".SignUPActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".GuideActivity"
            android:theme="@style/splash_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.talent_bank.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>